/* Responsive Tablet View */
@media screen and (max-width: 768px) {

  /* Main Title Centering */
  .site-header {text-align: center;}

  /* Resizing All Sections */
  .container {
    width: 100%;
  }
}


/* Responsive Mobile View */
@media screen and (max-width: 480px) {

  /* Changing the Flex-direction of all .row in Column */
  .row {flex-direction: column;}

  /* Resizing Padding, Margin and Width of All Sections */
  .lessons, .steps, .why-us {margin: 0; padding: 0;}
  .steps, .why-us {padding-top: 3rem;}

  .lessons .col, .steps .col, .why-us .col {
    width: 100%;
    padding-bottom: 3.5rem;
  }

  /* Changing Why Us Section bg-color  */
  .why-us {background-color: #222222;}
}

/* Fix Responsive View over 769px | Bonus */
@media screen and (min-width: 769px) {
  .container {width: 80%;}
}